{% extends "layout.html" %}

{% block content %}
    <h1 class="text-center font-weight-bold" style="color: white;text-decoration: underline;font-style: italic;">Bienvenido a HIDS {% if username %}
        {{username | capitalize}}
    {% endif %} </h1>
    <div class="list-group">
  <a href=" {{url_for('home')}} " class="list-group-item list-group-item-action active">
    Home
  </a>
  <a href="{{url_for('lista_resultado', id='1', titulo='Comprobar Archivos con MD5 en base de datos')}}" class="list-group-item list-group-item-action">1- Comprobar Archivos con MD5 en base de datos</a>
  <a href="{{url_for('lista_resultado', id='2', titulo='Comprobar Archivos ejecutables en directorio tmp')}}" class="list-group-item list-group-item-action">2- Comprobar Archivos ejecutables en directorio tmp</a>
  <a href="{{url_for('lista_resultado', id='3', titulo='Comprobar /var/log/secure')}}" class="list-group-item list-group-item-action">3- Comprobar /var/log/secure</a>
  <a href="{{url_for('lista_resultado', id='4', titulo='Comprobar access log')}}" class="list-group-item list-group-item-action">4- Comprobar access log</a>
  <a href="{{url_for('lista_resultado', id='5', titulo='5- Comprobar envios masivos de email')}}" class="list-group-item list-group-item-action">5- Comprobar envios masivos de email</a>
  <a href="{{url_for('lista_resultado', id='6', titulo='6- Comprobar /var/log/tcpdump')}}" class="list-group-item list-group-item-action">6- Comprobar /var/log/tcpdump</a>
  <a href="{{url_for('lista_resultado', id='7', titulo='7 -Comprobar ultimos usuarios con base de datos')}}" class="list-group-item list-group-item-action">7 -Comprobar ultimos usuarios con base de datos</a>
  <a href="{{url_for('lista_resultado', id='8', titulo='8- Comprobar Sniffers')}}" class="list-group-item list-group-item-action">8- Comprobar Sniffers</a>
  <a href="{{url_for('lista_resultado', id='9', titulo='9- Comprobar cola de correos')}}" class="list-group-item list-group-item-action">9- Comprobar cola de correos</a>
  <a href="{{url_for('lista_resultado', id='10', titulo='10- Comprobar consumo de memoria')}}" class="list-group-item list-group-item-action">10- Comprobar consumo de memoria</a>
  <a href="{{url_for('lista_resultado', id='11', titulo='11- Comprobar usuarios activos')}}" class="list-group-item list-group-item-action">11- Comprobar usuarios activos</a>
  <a href="{{url_for('lista_resultado', id='12', titulo='12- Comprobar tareas programadas')}}" class="list-group-item list-group-item-action">12- Comprobar tareas programadas</a>
  <a href="{{url_for('lista_resultado', id='13', titulo='13- Comprobar todo lo anterior')}}" class="list-group-item list-group-item-action">13- Comprobar todo lo anterior</a>
  <a href="{{url_for('home')}}" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Hecho por Fabrizio Paiva</a>
</div>
{% endblock %}