<!DOCTYPE html>
<html>
<head>
	<title>HIDS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=" {{url_for('home')}} ">HIDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href=" {{url_for('home')}} ">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {{url_for('about')}} ">about</a>
      </li>
      <li class="nav-item">
        {% if current_user.is_authenticated %}
          <a class="nav-link" href=" {{url_for('logout')}} ">logout</a>
        {% endif %}
      </li>
      
    </ul>
  </div>
</nav>

<div class="container pd-4">
	{% block content %}

	{% endblock content %}
</div>



	
</body>
</html>